.like-button-parent {
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 240px;
	height: 48px;
	border-radius: 3px;
	color: var(--wp--preset--color--black);
	background: var(--wp--preset--color--white);
	font-size: var(--wp--preset--font-size--medium);
	line-height: 24px;
	font-weight: 600;
	margin: -25px 0 25px 60px;
}

.like-button-child {
	display: flex;
	align-items: center;
}

.like-button-child svg {
	margin-right: 14px;
}

.liked svg {
	fill: #dc3e3e;
}

.wpmovies-liked svg > path {
	stroke-width: 0;
}
